@charset "utf-8";

body {
    width: 100vm;
}

* {
    box-sizing: border-box;
  }

html{
    font-size: 62.5%;
}

body{
    color: blue;
    font-size: 1.8rem;
    text-align: center;
}

h1 {
  background: #867;
}


.title {
  width: 600px;
  margin:0 auto;
 }

.question {
    background: red;
    padding:15px 40px;
    font-size: 20px;
 }

 input {
  font-size:0.9em;
 }

.answer {
    background: green;
    display:flex;
    justify-content: center;
 }


.bottun {
  height: 40px;
  background: red;
  text-align: left;
 }

.submit-btn {
  display: inline-block;
  margin-left: 40px;
  margin-top: 5px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.submit-btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.nav-btn {
  margin-left: 40px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #100209;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.nav-btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

