@charset "utf-8";

body {
    width: 100vw;
}

* {
    box-sizing: border-box;
  }

html{
    font-size: 62.5%;
}

body{
    color: blue;
    font-size: 1.6rem;
    text-align: center;
}

h1 {
  background: #867;
}


 .wrap {
  width: 500px;
  margin:0 auto;
 }
 input{
   font-size:0.7em;
  }

 .test {
   background: red;
  padding:15px 40px;
   font-size: 20px;
 }
 .flexbox {
   background: green;
    display:flex;
    justify-content: center;
 }


 .bottun {
  height: 40px;
  background: red;
  text-align: left;
 }
 .btn1 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

 .btn2 {
  display: inline-block;
}

/* .footer {
  background: red;
  height: 50px;
  width: 300px;
  margin: 0 auto;
} */

