@charset "utf-8";

body {
  width: 100vm;
  font-size: 20px;
  color: #5B5B5B;
  text-align: center;
  margin-top: 60px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
}

.title {
  background: #AAD6EC;
  width: 650px;
  margin:0 auto;
  position: relative;
  border: solid 3px #5B5B5B;
  border-radius: 8px;
}

.box-title {
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #5B5B5B;
  font-weight: bold;
}

.question {
    background: #EEF9FF;
    padding:15px 40px;
}

input {
  font-size: 23px;
}

.answers {
    margin-top: 9px;
}

.first_answer {
  margin: 20px 20px;
}
.second_answer {
  margin: 20px 20px;
}
.third_answer {
  margin: 20px 20px;
}

textarea {
  font-size: 23px;
}

.btn {
  background: #EEF9FF;
  height: 80px;
  text-align: left;
}

.submit-btn {
  position: relative;
  font-size: 18px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  padding:5px 10px;
  text-decoration: none;
  background: #FC9D9D;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px rgb(248, 118, 118);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:active {
  -webkit-transform: translateY(4px);/*ボタンを押したとき*/
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.nav-btn {
  font-size: 15px;
  margin-left: 40px;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background: #5B5B5B;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  cursor: pointer;
}

.nav-btn:active {
  -webkit-transform: translateY(4px);/*ボタンを押したとき*/
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}