@charset "utf-8";

ul {
  font-size: 0;/*隙間をなくす*/
  text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #AAD6EC;
}
li {
  font-size: 23px;
  display: inline-block;
	border-right: 1px solid #bbbbbb;
}

.login {
  float: right;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: #FFF;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}

.active {
  color: #88bcd6;
}

.page-link {
  display: block;
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
body {
  width: 100vm;
  font-size: 23px;
  color: #5B5B5B;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
}

.title {
  background: #AAD6EC;
  width: 650px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  border: solid 3px #5B5B5B;
  border-radius: 8px;
}

.subtitle {
  font-size: 20px;
}

.box-title {
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #5B5B5B;
  font-weight: bold;
}

.question {
    background: #EEF9FF;
    padding:15px 40px;
}

input {
  font-size: 23px;
}

.answers {
    margin-top: 9px;
}

.first_answer {
  margin: 20px 20px;
}
.second_answer {
  margin: 20px 20px;
}
.third_answer {
  margin: 20px 20px;
}

textarea {
  font-size: 23px;
}

.btn {
  background: #EEF9FF;
  height: 80px;
  text-align: left;
}

.submit-btn {
  position: relative;
  font-size: 18px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  padding:5px 10px;
  text-decoration: none;
  background: #FC9D9D;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px rgb(248, 118, 118);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:active {
  -webkit-transform: translateY(4px);/*ボタンを押したとき*/
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.nav-btn {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40px;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background: #5B5B5B;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  cursor: pointer;
}

.nav-btn:active {
-webkit-transform: translateY(4px);/*ボタンを押したとき*/
transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.pagination {
  text-align: center;
}

/* .page-item {
  
} */